.footer {
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 10px;
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
